main{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%; 
}

h2{
    margin-left: 5%;
    color: #000000;
    padding-top: 2%;
}

h3{
    color: #000000;
    padding-top: 2%;
}

p{
    
    color: #000000;
    padding-bottom: 2%;
    margin-right: 10%;
}

article{
   
    padding-bottom: 1%;
    background-color: rgb(203, 203, 203);
}

section{
    margin-left: 5%;
}