body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #262626;
}

header{
    background-color: #111111;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}