html, body{
    height: 100%;
    background-image: url("../OtherFiles/Images/Artboard21.png");
    background-size: cover;
}

main{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 30%;
    height: 85%;
}

h2{
    margin-top: 5%;
    margin-left: 5%;
    color: #ffffff;
}

p{
    margin-left: 6%;
    margin-right: 5%;
    color: #ffffff;
}

footer{
    bottom: 0;
}