main {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}

#showcase {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}
#github-copilot div {
  display: flex;
}
#chat-gpt div {
  display: flex;
}
#dall-e div {
  display: flex;
}

h1 {
  color: #242424;
  margin-left: 3%;
}

p {
  color: #000000;
  margin-left: 7.5%;
  padding-bottom: 2%;
  margin-right: 10%;
  max-width: 80%;
}

article {
  margin: 1%;
  padding: 1%;
  border-radius: 0.5em;
  background-color: rgb(203, 203, 203);
}
img {
  border-radius: 3em;
  max-width: 50%;
}
@media (max-width: 582px) {
  img {
    width: 100%;
    object-fit: contain;
  }
  #github-copilot div {
    flex-direction: column;
    align-items: center;
  }
  #chat-gpt div {
    flex-direction: column;
    align-items: center;
  }
  #dall-e div {
    flex-direction: column;
    align-items: center;
  }
}
